#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.heading-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-heading {
    display: flex;
}

/*Traverse a tree in css... any styles this class was going to apply
will be place on the divs under 'left-side.' However, this is not necessary
in this situation as all the divs under 'left-heading' are instances of the
same class.

Why this is useful:
- different divs under parent class
- only makes changes to these class instances under parent. For example,
If I have a class instance in multiple places, but I want to make changes under a
curtain parent.
traversing will be the way to go.

.heading-wrapper > .left-heading > div {
    margin-right: 20px;
    font-size: 0.9em;
} */

.nav-link-wrapper{
    margin-right: 20px;
    font-size: 0.9em;
}

body {
   margin: 0;
    padding: 0;
    background-image: url(port_images/IMG-1485.GIF);
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    overflow-y: auto;
}

.heading-container {

}

.gallery{
    margin: 10px 50px;
    
}

.gallery img{
    transition: 2s;
    width: 200px;
    padding: 14px; 
}

.gallery img:hover{
    filter: grayscale(90%);
    transform:(1.5);
}


#quote-container {
  margin-top: 20px;
}

/*
#left-heading{

}

#right-heading{
    
} */

.background {
    margin: 0;
    padding: 0;
    background-image: url(port_images/IMG-1485.GIF);
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    overflow-y: auto;
}

/*

.nav {

}
